/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  margin: auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  overflow: hidden;
  top: 5px;
  z-index: 10;
  background: white;
  padding: 5px;
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.25em 1em 0.25em 1em;
  width: 100%;
  background: #7e685a;
}
header nav a {
  padding: 1em;
  color: white;
}
header nav a:link {
  text-decoration: none;
}
header nav a:visited {
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
@media only screen and (max-width: 730px) {
  header {
    z-index: 8;
  }
  header img {
    width: 30em;
  }
}
@media only screen and (max-width: 400px) {
  header {
    z-index: 7;
  }
  header img {
    width: 20em;
  }
  header nav {
    flex-wrap: wrap;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 16em 1em 2em 1em;
  border: 4px groove #7e685a;
  border-radius: 20%;
}
.main .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.main .heading h1 {
  font-size: 3em;
  justify-content: flex-start;
}
.main .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.main .content .mobile {
  display: none;
}
.main .content p {
  width: 14em;
  line-height: 2;
  font-size: 1.2em;
  padding: 1em;
}
.main .content .homeimgs {
  position: relative;
  top: 90px;
  padding: 0 2em 0 0;
  margin: 0 8em 0 0;
  width: 30em;
  height: 40em;
}
@media only screen and (max-width: 1175px) {
  .main {
    border-radius: 18%;
  }
  .main .content {
    justify-content: space-evenly;
  }
  .main .content p {
    width: 10em;
  }
  .main .content .homeimgs {
    width: 20em;
    padding: 0;
    margin: 0;
  }
  .main .content .homeimgs img {
    width: 20em;
  }
}
@media only screen and (max-width: 975px) {
  .main {
    border-radius: 15%;
  }
  .main .heading {
    padding: 1em;
  }
  .main .heading h1 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 730px) {
  .main {
    border-radius: 5%;
  }
  .main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .content .mobile {
    display: block;
  }
  .main .content p {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    margin: 20em 1em 2em 1em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
